body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #333333;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: rgb(85, 2, 85);
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: #FFFFFF;
    border-radius: 10px;
    text-transform: capitalize;
}

main {
    margin-top: 30px;
    width: 90%;
    max-width: 500px;
    background: #ccc;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    color: #333333;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.preview {
    text-align: center;
    margin: 20px 0;
}

.preview img {
    max-width: 200px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#download-link {
    display: none;
    text-align: center;
    background: #FF6400;
    color: #ccc;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
}

#download-link:hover {
    background: #c65104;
}